@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');

body {
    background-color: #191919;
    text-align: center;
    font-family: "Poppins", sans-serif;
    user-select: none;
    -webkit-user-select: none;
}

.title {
    font-family: "Cabin Sketch", sans-serif;
}

.bg-lblack {
    background-color: #212121;
}

.bg-gray {
    background-color: rgb(57, 57, 57);
}

.bg-light-gray {
    background-color: rgb(78, 78, 78);
}

.container {
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 1em;
}

.input-panel {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: 70vh;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: red;
}


.wordbox {
    border: 2px solid rgb(78, 78, 78);
    display: flex;
    height: 4.5rem;
    width: 4.5rem;
    padding: 0.4em 0.4em 0.5em 0.4em;
    margin: 0.1em;
    color: white;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: default;

}

.wordIn {
    border: 2px solid rgb(116, 116, 116);

}

.keyboard {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.key-row {
    display: block;
    margin-bottom: 0.5em;
}

.key {
    font-size: 1.7em;
    text-align: center;
    border: 1px solid rgb(46, 46, 46);
    background-color: rgb(97, 97, 97);
    border-radius: 11%;
    padding: 0.2em;
    max-width: 1.5em;

    color: white;
    transition: 0.2s;
}

.key:active {
    scale: 1.2;
}

.backspace {
    color: rgb(255, 65, 65);

}

.enter {
    color: rgb(49, 197, 49);
}

.enter-yellow {
    background-color: rgb(193, 168, 59);
    border: none;

}

.enter-green {
    background-color: rgb(83, 141, 78);
    border: none;

}

.enter-gray {
    background-color: rgb(63, 63, 68);
    border: none;

}

.key-yellow {
    background-color: rgb(193, 168, 59);
    border: none;
}

.key-green {
    background-color: rgb(83, 141, 78);
    border: none;
}

.key-gray {
    background-color: rgb(55, 55, 55);
    border: none;
}



.opacity-20 {
    opacity: 20%;
}

.d-win {

    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #e6e6e6;
}

.win-bg {
    background-color: #3c3c3c;
    box-shadow: 15px 15px 0px #2a2a2a;
    backdrop-filter: blur(2px);
}

.blur {
    filter: blur(2px);
}

.play-again {
    background-color: #636363;
    box-shadow: 7px 7px 0px #2a2a2a;
    color: #e6e6e6;
    border: none;
    transition: 0.2s;
}

.play-again:hover {
    scale: 1.1;
}

.home {
    position: fixed
}

.box-big-small {
    animation: box-big-small 0.2s ease 0s 1 forwards;
}

@keyframes box-big-small {
    0% {

        transform: scale(1);

    }

    20% {
        transform: scale(0.95);

    }

    50% {
        transform: scale(1.05);

    }

    80% {
        transform: scale(0.95);

    }

    100% {

        transform: scale(1);
    }
}


.move-left-right {
    animation: move-left-right 0.3s ease 0s 1 forwards;
}

@keyframes move-left-right {
    0% {

        transform: translateX(0);
    }

    20% {
        transform: translateX(-10px);

    }

    50% {
        transform: translateX(15px);

    }

    80% {
        transform: translateX(-10px);

    }

    100% {

        transform: translateY(0);
    }
}




@media only screen and (min-width: 614px) {


    .key:hover {
        background-color: rgb(57, 57, 57);


    }

}

@media only screen and (max-width: 576px) {

    .wordbox {
        height: 4rem;
        width: 4rem;
    }

    .container {
        margin-top: 4em;
        margin-bottom: 2em;
    }

    .key-row {
        margin-bottom: 0.5em;
    }

    .key {
        font-size: 1.6em;

    }


}

@media only screen and (max-width:450px) {

    .wordbox {

        height: 3.5rem;
        width: 3.5rem;
        font-size: 1.5em;
    }

    .container {
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .key-row {
        margin-bottom: 0.4em;
    }

    .key {
        font-size: 1.5em;

    }


}

@media only screen and (max-width:350px) {

    .wordbox {
        height: 3rem;
        width: 3rem;
        font-size: 1.4em;

    }

    .container {
        margin-top: 1.4em;
        margin-bottom: 0.8em;
    }

    .key-row {
        margin-bottom: 0.4em;
    }

    .key {
        font-size: 1.3em;

    }


}